<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>mvPrintReader</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="../static/css/styles.css" />

</head>

<!--/*@thymesVar id="entries" type="org.springframework.data.domain.Page<com.theironyard.entity.RssEntry>"*/-->
<body>
<header>
    <h1>mvPrintReader</h1>
</header>
<div class="entry" th:each="entry : ${entries}">
    <div class="detail" th:object="${entry}">
        <strong> <a th:href="@{${entry.linkUrl}}" href="http://www.strat-re-source.com"
                    th:text="${entry.title}"
                    target="_blank"/> </strong>
        <!--<strong th:text="${entry.title}">Title:</strong>-->
        <p th:text="*{description}">The Johnson family of Raleigh, NC made time to get together.</p>
        <img src="" th:if="${entry.imageUrl != null}" th:src="@{${entry.imageUrl}}"/>
    </div>
</div>
</body>
</html>